body{
    margin: 0;
    padding: 0;
    background-color:  #EEE;
    font-family: sans-serif;
}

.topbar {
    background-color: #fff;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    padding: 0 60px;
    font-weight: bold;
    border-bottom: 1px solid #bababa;
}

.menu{
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 12), 0 1px 2px rgba(0, 0, 0, 24);
    display: flex;
    z-index: 10;
}

.menu a{
    display: inline-block;
    text-decoration: none;
    padding: 15px 30px;
    color: #505050;
    border-right: 1px solid #bababa;
}

.menu a:hover{
    background-color: #EEEEEE;
}

.sidebar.fixed{
    /* position: fixed;
    top: 0; */
    opacity: 0.7;
}

.content {
    margin-top: 20px;
}

.main{
    padding: 0 20px;
    float: left;
    width: 70%;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 12), 0 1px 2px rgba(0, 0, 0, 24);
}

.sidebar{
    float: right;
    width: 20%;
    padding: 0 20px;
}

.sidebar-container{
    position: relative;
    height: 600px;
    border: 2px dashed #bababa;
}

.bloc{
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 12), 0 1px 2px rgba(0, 0, 0, 24);
}


